@{
    ViewBag.Title = "O Jogo";
}

<div class="jumbotron">

    <h2>O Jogo</h2>
    <p class="lead">Prontos para jogar? Informe o nome e a jogada de cada um dos jogadores:</p><br />
    <form id="FormJogoClarenpo">

        <div class="form-row">
            <div class="col-4">
                <input type="text" min="1" maxlength="20" required class="form-control SomenteLetras" id="idJogador1" placeholder="Nome do Jogador 1" />
            </div>
            <div class="col-4">
                <input type="text" min="1" maxlength="1" required class=" form-control SomenteLetras" id="idMovimento1" placeholder="Pedra (R), Papel (P) ou Tesoura (S)" />
            </div>
        </div>
        <br />
        <div class="form-row mt-10">
            <div class="col-4">
                <input type="text" min="1" maxlength="20" required class="form-control SomenteLetras" id="idJogador2" placeholder="Nome do Jogador 2" />
            </div>
            <div class="col-4">
                <input type="text" min="1" maxlength="1" required class="form-control SomenteLetras" id="idMovimento2" placeholder="Pedra (R), Papel (P) ou Tesoura (S)" />
            </div>
        </div>
        <br />
        <div class="form-row">
            <div>
                <button type="submit" class="btn btn-primary mb-2" onclick="rps_game_winner()">Jogar</button>
            </div>
        </div>
    </form><br />
    <div class="row">
        <p>E o ganhador é:&nbsp;</p><p id="idGanhador"><strong>Tcham tcham tcham</strong></p>
    </div>
    <div class="form-row">
        <span>Erro de estratégia:&nbsp;</span><input  type="number" value="0" id="idErroEstrategia" class="form-control" readonly />
    </div>
    <div class="form-row">
        <span>Erro de número de jogadores:&nbsp;</span><input  type="number" value="0" id="idErroJogadores" class="form-control" readonly />
    </div>

    @section MeusCodigosJavaScript{
        <script type="text/javascript">

            $(document).ready(function () {
                /*desabilita o submit do form para uso de AJAX*/
                $("#FormJogoClarenpo").submit(function () {
                    return false;
                });

                $('.SomenteLetras').keyup(function () { this.value = this.value.replace(/[^a-zA-Z.]/g, ''); });
            });

            function rps_game_winner() {

                var arrJogadas = [];

                var arrJogador1 = {
                    Nome: $('#idJogador1').val(),
                    Sinal: $('#idMovimento1').val()
                };

                var arrJogador2 = {
                    Nome: $('#idJogador2').val(),
                    Sinal: $('#idMovimento2').val()
                };

                arrJogadas.push(arrJogador1);
                arrJogadas.push(arrJogador2);

                var vErroEstrategia;
                var vErroNumJogadores;

                vErroEstrategia = $('#idErroEstrategia').val();
                vErroNumJogadores = $('#idErroJogadores').val();

                var parametrosAjax = { Jogadas: JSON.stringify(arrJogadas), N1: vErroNumJogadores, N2: vErroEstrategia }

                console.log(JSON.stringify(arrJogadas));

                Util.goAjax("POST", Util.preparaURLController("ExecutaJogo", "Jogo"), "$('#hj')", JSON.stringify(parametrosAjax), function (retorno, param) {
                    if (retorno.NomeVencedor != "") {
                        $('#idGanhador').html("");
                        $('#idGanhador').html(retorno.NomeVencedor + " - " + retorno.SinalVencedor);
                    }
                    else
                    {  $('#idGanhador').html("");
                    }
                    0
                    $('#idErroJogadores').val(retorno.WrongNumberOfPlayersError);
                    $('#idErroEstrategia').val(retorno.NoSuchStrategyError);
                });
                }
        </script>
    }
</div>
