
@{
    ViewBag.Title = "Regras do jogo";
}

<div class="jumbotron">
    <h2>Regras do Jogo</h2><br/>

    <div>
        <p class="lead">
            Em um jogo de Cla-ren-pôô são necessários dois jogadores para jogar, 
            e cada jogador pode escolher entre <b>Pedra</b> (do inglês, <i>Rocket</i>, R), <b>Papel</b>
            (do inglês <i>Paper</i>, P) ou <b>Tesoura</b> (do inglês, <i>Scissors</i>, S).
        </p>
        <p class="lead">As regras são simples:</p>
        <ol>
            <li class="lead">Pedra (R) ganha de Tesoura (S).</li>
            <li class="lead">Tesoura (S) ganha de Papel (P).</li>
            <li class="lead">Papel (P) ganha de Pedra (R).</li>
            <li class="lead">Se ambos os jogadores fizerem o mesmo movimento, ganha o primeiro jogador.</li>
        </ol>
        <p class="lead">Prontos para jogar? </p>
    </div>
</div>

