@{
    ViewBag.Title = "Página Inicial";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Cla-ren-pôô</h1> <br />

        <p class="lead">Sejam muito bem vindos (as) ao Cla-ren-pôô!</p>

        <br />
        <div class="col-md-4">
            <a class="btn btn-primary btn-lg" href="~/Jogo/Regras">Regras do jogo</a>
        </div>

        <div class="col-md-4">
            <a class="btn btn-primary btn-lg" href="~/Jogo/OJogo">Jogar em duplas</a>
        </div>

        <div class="col-md-4">
            <a class="btn btn-primary btn-lg" href="~/Jogo/Torneio">Torneio</a>
        </div>
    </div>
</section>