@{
    ViewBag.Title = "Página Inicial";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Cla-ren-pôô</h1> <br />

        <p class="lead">Sejam muito bem vindos (as) ao Cla-ren-pôô!</p>

        <img src="https://cdn.pixabay.com/photo/2016/06/17/19/49/calculator-1464008_960_720.png" style="width:250px" /><br />
        <br />
        <div class="col-md-4 btn btn-primary btn-lg">
            <a href="~/Jogo/Regras">Regras do jogo</a>
        </div>

        <div class="col-md-4">
            <a class="btn btn-primary btn-lg" href="">Jogar em duplas</a>
        </div>

        <div class="col-md-4">
            <a class="btn btn-primary btn-lg" href="">Torneio</a>
        </div>
    </div>
</section>