.cls-sinal-mais {
    font-size: 25px;
    text-align: center;
    position: relative;
    bottom: 4px;
}

#idGanhador {
    font-size: 17px;
    font-weight: bold;
}

.jumbotron {
    padding-top: 40px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
}

.navbar-inverse {
    background-color: rgb(182, 72, 102);
    border-color: rgb(182, 72, 102);
}
